<%- include('partials/nav') -%>
<div class="container">
  <div class="row mt-5">
          <div class="mt-5">
            <section class="welcome">
              <h2>About page</h2>
              <p>Paragraph about Mission</p>
            </section>
          </div>

      <div class="col-6">  
      </div>  
    </div>
</div>
