html {
    font-size: 62.5%;
}

:root {
    --white: rgb(255, 255, 255);
    --green: rgb(80,139,70);
    --purple: rgb(116, 83, 121);
    --lightpurple: rgb(202, 202, 230); 
}

/* ROOT PAGE */
.loginHeader a {
    text-decoration: none;
    font-size: 5rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
    color: var(--green);
}

.loginHeader + span {
    font-size: 2rem;
    letter-spacing: .2rem;
}

.loginImg {
    width: 20%;
}

.loginBody {
    padding-top: 10rem;
}

.col-3.btn.btn-primary,
.btn.btn-primary {
    background: var(--green);
    border: var(--purple);
    font-size: 1.6rem;
}

.col-3.btn.btn-primary:hover,
.btn.btn-primary:hover {
    background: var(--lightpurple);
}

/* NAVIGATION HEADER */
.navContainer {
    background: var(--green);
    text-align: center;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); 
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navContainer h1 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: .5rem;
}

.lotusImg {
    width: 6%;
}

.mainNav a {
    text-decoration: none;
    font-size: 2.5rem;
    padding: 1rem;
    color: var(--white);
    letter-spacing: .1rem;
}

.mainNav a:hover {
    color: var(--purple);
}

/* LANDING PAGE */
body {
    padding-top: 25rem;
    padding-bottom: 5rem; /* Add a value equal to the height of your fixed header */;
    margin: 0; /* Remove default margin to prevent unwanted space */
}

.landingContainer {
    margin: 0 10rem;
}

div.main {
    display: flex;
}

.leftText {
    margin-right: 5rem;
}

/*carousel*/
#carousel {
    width: 100%;
    overflow: hidden;
    margin-top: 3rem;
    }

.card h3,
.card p {
    font-size: 2.5rem;
    padding: 2rem 5rem;
}

.card h3 {
    color: var(--purple);
}

.card h3:hover {
    color: var(--purple);
}

.card p {
    font-size: 1.6rem;
}

.card {
    display: none;
    border-radius: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3); 
    padding: 2rem;
}

.card:first-child {
    display: block;
}

button.carousel {
    border-radius: .5rem;
    border: none;
    font-size: 2rem;
    background: whitesmoke;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3); 
    display: block;
    position: absolute;
    right: 1rem;
}

/*styling*/
h2.welcome {
    font-size: 1.8rem;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white);
    padding: 1rem;
    font-weight: 100;
}

.main div {
    padding: 5rem 1rem;
}

.main h2 {
    font-size: 6rem;
    text-shadow: 2px 2px 4px var(--lightpurple);

}

.tagline {
    font-size: 3rem;
    font-style: italic;
    padding: 2rem 0;
    color: var(--purple);
}

/*Study Page*/
p {
    padding: 0px 10%;
    font-size: 1.15em;
    line-height: 1.4;
}

header,
footer {
    text-align: center;
}
.questionHolder,
.personalize,
.rawUserInput,
.surveyMessage {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 10rem;
    border-radius: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3); 
    padding: 2rem;
}
.questionHolder p {
    padding: .5rem;
}
.answer {
    display: none;
}

#submitBtn {
    position: relative;
    left: 15rem;
    margin-top: 2rem;
}

button.toggle {
    border-radius: .5rem;
    border: none;
    font-size: 2rem;
    background: var(--lightpurple);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3); 
}

.numberCorrect {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 0;
    padding: 1.5rem; /* Add padding or adjust as needed */
    background-color: var(--lightpurple); /* Add a background color if needed */
    z-index: 1000; /* Set a z-index to ensure it's above other elements */
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3); 
    border-radius: .5rem;
    font-size: 2rem;
}

.correct {
    color: green;
    font-weight: bolder;
}

/* Account page */

form {
    display: flex;
    flex-direction: column;
    max-width: 40rem; /* Adjust max-width as needed */
    margin: auto; /* Center the form */
}

label {
    margin-bottom: .5rem; /* Adjust margin as needed */
    text-align: center;
}

select, button {
    margin-bottom: 1.5rem; /* Adjust margin as needed */
}

.surveyMessage span {
    color: var(--purple);
}

.pageHeader,
.accountP {
    text-align: center;
    font-size: 4rem;
}

.accountP {
    font-size: 2rem;
}

/*FOOTER STYLING*/

footer {
    background: var(--green);
    text-align: center;
    color: var(--white);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); 
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.copyright {
    color:rgb(192, 182, 193);
}