html {
    font-size: 62.5%;
}

:root {
    --white: rgb(255, 255, 255);
    --green: rgb(80,139,70);
    --darkgreen: rgb(90, 145, 75);
    --purple: rgb(116, 83, 121);
    --lightpurple: rgb(202, 202, 230); 
}

/* NAVIGATION HEADER */
.navContainer {
    background: var(--green);
    text-align: center;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); 
    padding: 2rem;
}

.navContainer h1 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: .5rem;
}

.lotusImg {
    width: 6%;
}

.mainNav a {
    text-decoration: none;
    font-size: 2.5rem;
    padding: 1rem;
    color: var(--white);
    letter-spacing: .1rem;
}

.mainNav a:hover {
    color: var(--purple);
}

/* LANDING PAGE */

.landingContainer {
    margin: 0 10rem;
}

div.main {
    display: flex;
}

/*carousel*/
#carousel {
    width: 100%;
    overflow: hidden;
    }
.card {
    display: none;
    border-radius: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3); 
    padding: 2rem;
}

.card:first-child {
    display: block;
}

button.carousel {
    border-radius: .5rem;
    border: none;
    font-size: 2rem;
    background: whitesmoke;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3); 
    display: block;
    position: absolute;
    right: 1rem;
}

/*styling*/
h2.welcome {
    font-size: 1.8rem;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white);
    padding: 1rem;
    font-weight: 100;
}

.main div {
    padding: 5rem 1rem;
}

.main h2 {
    font-size: 8rem;
}

.tagline {
    font-size: 3rem;
    font-style: italic;
    padding: 2rem 0;
    color: var(--purple);
}

/*Study Page*/
p {
    padding: 0px 10%;
    font-size: 1.15em;
    line-height: 1.4;
  }
  
  header,
  footer {
    text-align: center;
  }
  
  main {
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /***** CARDS *****/
  #card {
    position: relative;
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 10px rgba(0,0,0,0.4); */
  }
  
  .side {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .front {
    display: flex;
    background-color: #212121;
    color: #fefef2;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform-style: preserve-3d;
    opacity: 1;
    transition: all 0.75s linear;
  }
  
  #card.turned > .front {
    opacity: 0;
    transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .back {
    position: absolute;
    left: 0;
    display: flex;
    background-color: #fefef2;
    color: #212121;
    transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
    transform-style: preserve-3d;
    opacity: 0;
    transition: all 0.75s linear;
  }
  
  #card.turned > .back {
    opacity: 1;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  
  /***** BTNS *****/
  
  #prev,
  #next {
    position: relative;
    height: 0;
    width: 0;
    display: block;
    margin: 25px;
    border: none;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    padding: 0;
    background: transparent;
    transition: 0.5s ease-in-out;
  }
  
  #prev {
    border-right: 50px solid #212121;
  }
  
  #prev:not([disabled]):hover {
    transform: translateX(-15px);
    border-right: 50px solid #4d4d4d;
  }
  
  #next {
    border-left: 50px solid #212121;
  }
  
  #next:not([disabled]):hover {
    transform: translateX(15px);
    border-left: 50px solid #4d4d4d;
  }
  
  #filter {
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #prev:disabled {
    border-right: 50px solid #4d4d4d;
    cursor: not-allowed;
  }
  
  #next:disabled {
    border-left: 50px solid #4d4d4d;
    cursor: not-allowed;
  }
  
  /***** SCROLLBAR (XS VIEWPORTS ONLY) *****/
  
  .back::-webkit-scrollbar {
    width: 0.75em;
  }
  
  .back::-webkit-scrollbar-track {
    box-shadow: none;
  }
  
  .back::-webkit-scrollbar-thumb {
    background-color: #212121;
    outline: none;
  }
  
  /***** MEDIA QUERIES *****/
  
  @media (max-width: 580px) {
    button {
      border-top: 80px solid transparent;
      border-bottom: 80px solid transparent;
    }
  
    #prev {
      border-right: 30px solid #212121;
    }
  
    #prev:not([disabled]):hover {
      border-right: 30px solid #4d4d4d;
    }
  
    #next {
      border-left: 30px solid #212121;
    }
  
    #next:not([disabled]):hover  {
      border-left: 30px solid #4d4d4d;
    }
    .back {
      display: initial;
      overflow-y: scroll;
    }
  }
  