html {
    font-size: 62.5%;
}

:root {
    --white: rgb(255, 255, 255);
    --green: rgb(80,139,70);
    --darkgreen: rgb(90, 145, 75);
    --purple: rgb(116, 83, 121);
    --lightpurple: rgb(202, 202, 230); 
}

/* NAVIGATION HEADER */
.navContainer {
    background: var(--green);
    text-align: center;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); 
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navContainer h1 {
    color: var(--white);
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: .5rem;
}

.lotusImg {
    width: 6%;
}

.mainNav a {
    text-decoration: none;
    font-size: 2.5rem;
    padding: 1rem;
    color: var(--white);
    letter-spacing: .1rem;
}

.mainNav a:hover {
    color: var(--purple);
}

/* LANDING PAGE */
body {
    padding-top: 20rem; /* Add a value equal to the height of your fixed header */;
    margin: 0; /* Remove default margin to prevent unwanted space */
}

.landingContainer {
    margin: 0 10rem;
}

div.main {
    display: flex;
}

/*carousel*/
#carousel {
    width: 100%;
    overflow: hidden;
    }
.card {
    display: none;
    border-radius: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3); 
    padding: 2rem;
}

.card:first-child {
    display: block;
}

button.carousel {
    border-radius: .5rem;
    border: none;
    font-size: 2rem;
    background: whitesmoke;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3); 
    display: block;
    position: absolute;
    right: 1rem;
}

/*styling*/
h2.welcome {
    font-size: 1.8rem;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--white);
    padding: 1rem;
    font-weight: 100;
}

.main div {
    padding: 5rem 1rem;
}

.main h2 {
    font-size: 8rem;
}

.tagline {
    font-size: 3rem;
    font-style: italic;
    padding: 2rem 0;
    color: var(--purple);
}

/*Study Page*/
p {
    padding: 0px 10%;
    font-size: 1.15em;
    line-height: 1.4;
  }
  
  header,
  footer {
    text-align: center;
  }

  .questionHolder {
    font-size: 2rem;
    text-align: center;
    margin: 1rem 10rem;
    border-radius: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3); 
    padding: 2rem;
  }

  .questionHolder p {
    padding: .5rem;
  }

  .answer {
    display: none;
}
  
button.toggle {
  border-radius: .5rem;
  border: none;
  font-size: 2rem;
  background: var(--lightpurple);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3); 
}

.numberCorrect {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px; /* Add padding or adjust as needed */
    background-color: #fff; /* Add a background color if needed */
    z-index: 1000; /* Set a z-index to ensure it's above other elements */
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3); 
    border-radius: .5rem;
}

